ul {
    /* width: 300px; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-top: 25px; */
    /* margin-left: -150px; */
    text-decoration: none;
}

li {
    position: relative;
    display: block;
    /* border: 1px solid hotpink; */
    /* margin-bottom: 5px; */
    padding-left: -50px;
    text-align: center;
    -webkit-animation: fadeIn 0.5s linear;
    animation: fadeIn 0.5s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

li:nth-child(1) {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

li:nth-child(2) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

/*  */
li:nth-child(3) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

li:nth-child(4) {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

/*  */
/* li:nth-child(5) { */
/* -webkit-animation-delay: 15.25s; */
/* animation-delay: 15.25s; */
/* } */
/*  */
/*  */
/* li:nth-child(6) { */
/* -webkit-animation-delay: 18.25s; */
/* animation-delay: 18.25s; */
/* } */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100px;
    }

    75% {
        opacity: 0.5;
        top: 0px;
    }

    100% {
        opacity: 1;
    }
}